/* Colorscheme */
:root {
    --bg-color: #1e1e2e;
    --text-color: #cdd6f4;
    --widget-bg: #3132445c;
    --widget-border: #45475a;
    --widget-hover: #313244b6;

    --red: #f38ba8;
    --blue: #89b4fa;
    --green: #a6e3a1;
    --error: #da6052;
}

html,
head,
body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

#canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;

    /* aggressive background color so errors are more noticable */
    background-color: var(--error);
}

#right {
    float: right;
    width: fit-content;
    align-content: right;
    font-weight: 400;
    font-size: 15pt;
    margin: 20px;
}

#left {
    float: left;
    width: fit-content;
    align-content: left;
    font-weight: 400;
    font-size: 15pt;
    margin: 20px;
}

.xaxis {
    color: var(--red);
}

.yaxis {
    color: var(--blue);
}

.zaxis {
    color: var(--green);
}

details {
    padding: 5px;
}

details h1 {
    padding-bottom: 0;
    padding-left: 0;
    font-size: large;
}

details ul {
    font-size: medium;
    padding: 0;
    padding-left: 10px;
    list-style-position: outside;
}

.widget {
    background-color: var(--widget-bg);
    width: fit-content;
    border: 1px solid var(--widget-border);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#info {
    margin-bottom: 10px;
}

#deltaTime {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.floatingwidget {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    width: 400px;
    height: fit-content;

    background-color: var(--bg-color);
    border: 1px solid var(--widget-border);
    border-radius: 10px;
    padding: 10px;
}

#finalscore {
    text-align: center;
}

.optionToggles {
    text-align: center;
    margin-bottom: 20px;

    select {
        background-color: var(--widget-bg);
        color: var(--text-color);
        border: 1px solid var(--widget-border);
        border-radius: 5px;
    }
}

.popupTitle {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}

.popupButton {
    display: block;
    color: var(--text-color);
    background-color: var(--widget-bg);
    border: 1px solid var(--widget-border);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 15px 32px;
    font-size: 16px;
}

#newgame:hover {
    background-color: var(--widget-hover);
}
