html,
head,
body {
    margin: 0;
    background-color: #0e364f;
}

#canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;

    background-color: #da6052; /* aggressive background color so errors are more noticable */
}

#error-box {
    color: #fd8080;
    font-weight: 400;
    font-size: 15pt;
    padding: 25px;
    margin-bottom: 20px;
}

#right {
    float: right;
    color: #eee;
    width: fit-content;
    align-content: right;
    font-weight: 400;
    font-size: 15pt;
    margin: 20px;
}

#left {
    float: left;
    color: #eee;
    width: fit-content;
    font-weight: 400;
    font-size: 15pt;
    margin: 20px;
}

#info {
    margin-bottom: 10px;
}

.widget {
    background-color: rgba(0.2, 0.2, 0.2, 0.3);
    width: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.error-box-title {
    color: #eee;
    border-bottom: 1px solid gray;
}

.floatingwidget {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    width: 400px;
    height: fit-content;

    background-color: #0e364f;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#finalscore {
    color: #eee;
    text-align: center;
}

#gameover {
    font-family: 'Inter', sans-serif;
    color: #eee;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}

#newgame {
    display: block;
    color: #eee;
    background-color: rgba(0.2, 0.2, 0.2, 0.3);
    border: 1px solid white;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 15px 32px;
    font-size: 16px;
}

#newgame:hover {
    background-color: rgba(0.2, 0.2, 0.2, 0.6);
}
